body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}
button {
  font-size: 18px;
  padding: 10px 20px;
}
#status {
  margin-top: 15px;
  font-weight: bold;
  white-space: pre-line;
}

#startBtn:active {
  opacity: 0.5;
}
